@media (min-width: 768px) {
    #navMenu {
    display: flex;  
    flex-direction: row;
    gap: 1rem;
    }

    #menuBtn {
    display: none;
    }

    .members {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    }

    .hero {
    text-align: left;
    max-width: 1100px;
    margin: 1rem auto;
    }

    .menu-toggle {
            display: none;
        }
}