@media (min-width: 768px) {
      header {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
  }

  /* Oculta el menú hamburguesa en desktop */
  .menu-toggle {
    display: none;
  }

  /* El menú se muestra horizontal en desktop */
  #navMenu {
    display: flex !important;
    flex-direction: row;
    gap: 2rem;
    padding: 0;
  }

    .members {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    }

    .hero {
    text-align: left;
    max-width: 1100px;
    margin: 1rem auto;
    }

}