* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #f4f4f4;
  color: #333;
  display: flex;
  flex-direction: column;  
  min-height: 100vh;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #bed4ff;
}

.brand {
  display: flex;
  align-items: center;
  gap: .5rem;
}

#navMenu {
  display: none;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

#navMenu a {
  text-decoration: none;
  color: var(--text);
  font-weight: 600;
}

#navMenu.show {
  display: flex;    
}


main {
  background: #fff;
  padding: 2.5rem;
  margin: auto;            
  width: 95%;
  max-width: 500px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  text-align: center;
  animation: fadeIn 0.4s ease-in-out;
}

main > * {
  width: 100%;
  max-width: 500px;
}

main h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #222;
}

main p {
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
}

.counter {
  font-weight: bold;
  color: #0056b3;
  font-size: 1.2rem;
}

.back {
  display: inline-block;
  padding: 0.8rem 1.5rem;
  background-color: #0056b3;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-size: 1rem;
  transition: background 0.3s;
}

.back:hover {
  background-color: #003f82;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

footer {
  background-color: #bed4ff;
  padding: 2rem 1rem;
  text-align: center;
}

footer .footer-content {
  max-width: 900px;
  margin: 0 auto;
}

footer .social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

footer .social img{
  width: 32px;
  height: 32px;
  cursor: pointer;
}

footer p {
  margin-top: 1rem;
  font-size: 0.9rem;
  opacity: 0.8;
}

.menu-toggle {
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}

.menu-toggle .icon-close {
  display: none;
}

.menu-toggle[aria-expanded="true"] .icon-open {
  display: none;
}

.menu-toggle[aria-expanded="true"] .icon-close {
  display: inline;
}

@media (min-width: 768px) {
      header {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
  }

  
  .menu-toggle {
    display: none;
  }

  #navMenu {
    display: flex !important;
    flex-direction: row;
    gap: 2rem;
    padding: 0;
  }
}